// primary button
$button-primary-color: rgb(25, 118, 210);
$button-primary-hover: rgb(21, 101, 192);
$button-text-color: white;

// color
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$dark-gray: #535151;
$light-gray: #807d7d;
$light-black: #f2f3f2;

body {
  font-family: Poppins-Regular;
}
