@use "src/globalStyle/base.scss";

.assignment-v-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 2rem;
}
// items
.assignment-v-items {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  border: 1px solid base.$light-gray;
  border-radius: 4px;
  padding: 0.5rem;
}
.assignment-v-items > h1 {
  font-size: 2rem;
}
// status
.assignment-v-status {
  background: base.$subtitle-red;
  color: base.$light-black;
  border-radius: 15px;
  padding: 2px 10px;
  width: fit-content;
  height: fit-content;
  font-style: italic;
  font-size: 1rem;
  margin-left: 10px;
}
.assignment-v-head-status {
  display: flex;
  align-items: center;
}
// input
.assignment-v-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
}
.assignment-v-input > label {
  font-size: 1rem;
}
.assignment-v-input > input {
  width: 75%;
  outline: none;
  border-radius: 4px;
  border: 1px solid base.$subtitle-gray;
  font-size: 1.2rem;
  color: base.$dark-gray;
  padding: 5px;
}
// select option
.assignment-v-input > select {
  font-size: 1rem;
  padding: 5px;
  position: absolute;
  left: 12rem;
}
option {
  font-size: 1rem;
}

// submit btn
.assignment-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.f-assignment-submit {
  font-size: 1.4rem;
  transition: all 0.3s linear;
  width: 200px;
  align-items: center;
  padding-right: auto;
  padding-left: auto;
}
.f-submit {
  width: 150px !important;
  padding: 5px;
  border: none;
  background-color: base.$button-primary-color;
  cursor: pointer;
  border-radius: 4px;
  color: base.$button-text-color;
  transition: all 0.3s linear;
}
.f-submit-confirm {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}

// responsive
@media screen and (max-width: 992px) {
  .assignment-v-items {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .assignment-v-items {
    width: 400px;
  }
  .assignment-v-head-status {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  .assignment-v-status {
    margin-left: 0px;
  }
  .assignment-v-input > input {
    width: 240px;
  }
}
